body {
  font-family: sans-serif;
  overflow: hidden;
}
#wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial;
  margin: auto;
  width: 80vw;
  padding: 2rem;
}
#chart {
  /* width: 300px; */
  height: 300px;
}
#newTask, #revertEntry {
  float: right;
}
#entries {
  margin-top: 14px;
  padding: 8px;
  max-height: 25vh;
  overflow: scroll;
}
#entries p {
  padding-bottom: 10px;
  border-bottom: 1px solid #8a8c8c;
}
.vex.vex-theme-plain .vex-dialog-button:focus {
  /* override flashing animation */
  animation: none !important;
}
.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
  background: #000 !important;
}
